@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.transition_img {
    transition: transform 1s ease-in-out !important;
}

.animate-right {
    animation: slideRight 0.5s ease-in-out;
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-left {
    animation: slideLeft 0.5s ease-in-out;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.round {
    border-radius: 0 0 0 8px;
}

/* Для WebKit (Chrome, Safari, новые версии Opera) */
/* Цвет полосы прокрутки и фона трека */
::-webkit-scrollbar {
    width: 12px;
}

/* Цвет полосы прокрутки */
::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Цвет фона трека */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Для Firefox */
/* Цвет полосы прокрутки и фона трека */
::-moz-scrollbar {
    width: 2px;
}

/* Цвет полосы прокрутки */
::-moz-scrollbar-thumb {
    background-color: #888;
}

/* Цвет фона трека */
::-moz-scrollbar-track {
    background-color: #f1f1f1;
}

/* Для Internet Explorer/Edge */
/* Цвет полосы прокрутки и фона трека */
::-ms-scrollbar {
    width: 2px;
}

/* Цвет полосы прокрутки */
::-ms-scrollbar-thumb {
    background-color: #888;
}

/* Цвет фона трека */
::-ms-scrollbar-track {
    background-color: #f1f1f1;
}